body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#img {
    max-width: 100%;
    text-align: center;
}

.fond {
    max-width: 100%;
    height: auto;
}

#Txt1 {
    position: absolute;
    top: 0;
    margin-top: 250px;
}

#Txt1 h1 {
    font-size: 250px;
}

@media only screen and (max-width: 768px) {
    #Txt1 {
        margin-top: 150px;
    }

    #Txt1 h1 {
        font-size: 150px;
    }
}

@media only screen and (max-width: 480px) {
    #Txt1 {
        margin-top: 100px;
    }

    #Txt1 h1 {
        font-size: 100px;
    }
}
