body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
}
/*gtitle*/
.section1 {
    margin-top: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 h1 {
    font-family: 'Freeman';
    color: #7d7979;
    position: absolute;
    z-index: 6;
    border: none;
    font-size: 150px;
    text-align: center;
    margin-left: 9%;
    margin-top: -20%;
}

/* paragraphe 1*/
.section1 .p1{
    margin-left: 10%;
    margin-right: 50%;
    font-family: 'Freeman';
    color: #7d7979;
}
.section1 .h01 {
    position: absolute;
    z-index: 5;
    color: #eb5e28;
    font-size: 200%;
    font-family: 'Freeman';
    margin-left: 6%;
    margin-top: -4%;
}
.section1 .img1 {
    margin-left: -1%;
    margin-top: 20%;
}
/* paragraphe 2*/
.section1 .p2 {
    position: absolute;
    z-index: 2;
    margin-top: 2.5%;
    margin-left: 55%;
    margin-right: 10%;
    font-family: 'Freeman';
    color: #7d7979;
}
.section1 .img2 {
    margin-left: -1%;
    margin-top: 9%;
}

.section1 .h02 {
    position: absolute;
    z-index: 5;
    color: #eb5e28;
    font-size: 200%;
    font-family: 'Freeman';
    margin-left: 11%;
    margin-top: -9%;
}
.section1 .p02 {
    margin-top: 4%;
}

/*span */
span {
    color: #eb5e28;
}
.num {
    letter-spacing: 2px;
}

/*formilaire */
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.email-form {
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding: 15px;
    margin-bottom: -5px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.email-form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #7d7979;
    margin-right: 15px;
    font-size: 18px;
}

.email-form input[type="email"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #7d7979;
    border-radius: 5px;
    margin-right: 15px;
    width: 350px;
}

.email-form button {
    margin-top: -2px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #7d7979;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.email-form button:hover {
    background-color: #eb5e28;
}